nav {
    z-index: 2;
    width: 100%;
    height: fit-content;

    @media (max-width: 1200px) {
        padding: 16px 0;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;

        @media (max-width: 1200px) {
            flex-direction: column;
        }

        .nav-link {
            color: $white;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            margin-right: 2rem;
            border-bottom: 4px solid transparent;
            transition: all 0.7s;

            @media (max-width: 1400px) {
                margin-right: 1rem;
            }

            &:hover {
                border-bottom: 4px solid $primary;
            }

            @media (max-width: 1400px) {
                font-size: 15px;
            }

            @media (max-width: 1200px) {
                color: $dark;
                text-align: center;
            }
        }
    }
}

.logo {
    width: 21rem;
    min-height: 10rem;
    object-fit: contain;
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.5));

    @media (max-width: 1400px) {
        width: 17rem;
    }

    @media (max-width: 1200px) {
        width: 95%;
    }
}

.logo-section {
    @media (max-width: 1200px) {
        width: 21rem;
        max-width: calc(100% - 65px);
    }
}